{% extends "base.html" %}
{% block page_content %}
    <h4>Logged in as {{ name }}</h4>
    <h1>Available Beds</h1>
    {% if current_user.is_authenticated %}
        <a href="{{url_for('main.bedregister')}}">
            <button class="btn-success">Register Beds</button>
        </a><br>
    {% endif %}
    <hr><hr>
    <h1>By Individual Beds</h1>
    <table id="data" class="table table-striped">
        <thead>
          <tr>
            <th>Bed Number</th>
            <th>Hospital</th>
            <th>Room Number</th>
            <th>Oxygen</th>
            <th>Ventilator</th>
            <th>ICU Bed</th>
            <th>Provided By</th>
            <!-- <th>Phone Number</th> -->
            <!-- <th>Email</th> -->
          </tr>
        </thead>
        <tbody>
          {% for bed in beds %}
            <tr>
              <td>{{ bed.number }}</td>
              <td>{{ bed.hospital.name }}</td>
              <td>{{ bed.room_no }}</td>
              <td>{{ "YES" if bed.with_oxygen else "NO"}}</td>
              <td>{{ "YES" if bed.with_ventilators else "NO"}}</td>
              <td>{{ "YES" if bed.is_icu else "NO"}}</td>
              <td>{{ bed.ngo.name }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <hr><hr>
      <h1>By Total Number of Beds</h1>
    <table id="data-2" class="table table-striped">
        <thead>
          <tr>
            <th>Hospital</th>
            <th>Pincode</th>
            <th>Oxygen Beds</th>
            <th>Ventilator Beds</th>
            <th>ICU Beds</th>
            <!-- <th>Phone Number</th> -->
            <!-- <th>Email</th> -->
          </tr>
        </thead>
        <tbody>
          {% for hospital in hospitals %}
            <tr>
              <td>{{ hospital.name }}</td>
              <td>{{ hospital.pincode }}</td>
              <td>{{ len(hospital.available_beds.filter_by(with_oxygen=True).all()) }}</td>
              <td>{{ len(hospital.available_beds.filter_by(with_ventilators=True).all()) }}</td>
              <td>{{ len(hospital.available_beds.filter_by(is_icu=True).all()) }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}

{% block tablescript %}
<script>
    $(document).ready(function () {
      $('#data-2').DataTable({
          columns:[
            null,
            null,
            null,
            null
          ]
      });
    });
  $(document).ready(function () {
      $('#data').DataTable({
          columns:[
            {orderable: false, searchable: false},
            null,
            {orderable: false, searchable: false},
            {orderable: false, searchable: false},
            {orderable: false, searchable: false},
            {orderable: false, searchable: false},
            null
          ]
      });
    });
</script>
{% endblock %}